@import url("https://fonts.google.com/share?selection.family=Poppins:wght@300&display=swap");

:root {
  --primaryColor: rgb(60, 60, 60);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--primaryColor);
  /* background-color: rgb(28, 185, 224); */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows:150px 150px; */
  grid-gap: 1em;
  /* width: 80%; */
  margin: 5px 20px;
  border: 2px solid black;
  /* background-color: orange; */
  /* column-count: 3; */
  /* column-gap: 1em; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* display: flex; */
}

.title {
  margin-top: 20px;
}

.imageContainer {
  width: 150px;
  height: auto;
  padding: 1em;
  margin: auto;
  align-items: center;
  align-content: center;
  /* background: url("../Icons/Air\ Settings/airSettings.svg") center no-repeat; */
  /* background-size: 150px; */
  /* background-position: 150px; */
  display: inline-block;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: auto;
  /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); */
  -webkit-background-clip: border-box;
}

img:hover {
  fill: green;
  stroke: orange;
  stroke-width: 5px;
  outline: 5px solid magenta;
  clip-path: url(../assets/Icons/Air\ Settings/airSettingsIcon.svg);
}

/* ------------------------------- conveyorSCG ------------------------------ */
.v {
  fill: #aaa;
  stroke-width: 0.5px;
}
.v,
.w,
.x,
.y {
  stroke: #231f20;
}
.v,
.a,
.x,
.y {
  stroke-miterlimit: 10;
}
.aa {
  mix-blend-mode: multiply;
  opacity: 0.75;
}
.ab {
  fill: #dbdbdb;
}
.ac {
  fill: #bfbfbf;
}
.ad {
  mask: url(#n);
}
.ae {
  isolation: isolate;
}
.w {
  fill: #fff;
  stroke-linecap: round;
  stroke-linejoin: bevel;
}
.w,
.a,
.x,
.y {
  stroke-width: 1.0062px;
}
.af {
  mask: url(#g);
}
.ag {
  filter: url(#e);
}
.a {
  stroke: #000;
}
.a,
.y {
  fill: none;
}
.ah {
  mask: url(#k);
}
.ai {
  mask: url(#d);
}
.x {
  fill: #727272;
}
